Body { 
    background-image: url("./images/architecture-buildings-china-1366957.jpg");
    color: white;
    background-size : 1900px;
    text-align: center;
    font-size: 18px;

}

.Block {border: 1px solid white;
    margin: 1%; 
    padding: 2%;
    max-width: 35%;
    margin: 0 auto;
    margin-top: 2%

}

.welcome{max-width: 30%;
margin: 0 auto;
margin-top: 5%

}

.perso {max-width: 30%;
    margin: 0 auto;
    margin-top: 5%

}

img.supbank-logo {max-width: 50%;

}

.btn-nav {border : 1px solid white;
    max-width: 250px;
    margin: 0 auto;
    padding: 1%; 
    margin-bottom: 3%;
    margin-top: 2%;

}
a {text-decoration: underline;
}

.LaunchTransaction {max-width: 40% !important;
margin: 0 auto; 
}
.form-group {max-width: 40% !important;
margin: 0 auto; 
}